name: GitHub push workflow
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 15.x
      - name: Install dependencies
        run: npm clean-install
      - name: Run unit tests
        run: npm test